@model Modelo.Dto.ExamenDto
@using System.Collections.Generic
@{ 

    List<int> notas = new List<int>
    {
        1,2,3,4,5
    };
    List<int> notasAux = new List<int>();
}
<br />
<h3>@Model.Alumno.Nombre</h3>
@using (Html.BeginForm("CalificarPregunta", "Examen", FormMethod.Post))
{
    @Html.HiddenFor(alumnos =>Model.Id)
    <hr />
    <table>
        <thead>
            <tr>
                <td>Pregunta</td>
                <td>Nota</td>
            </tr>
        </thead>
        <tboy>
            @for (int i = 0; i < Model.ExamenPreguntas.Count; i++)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ExamenPreguntas[i].Pregunta.Descripcion)
                        @Html.HiddenFor(model => model.Preguntas[i].Id)
                    </td>
                    <td>
                        <div>
                            @if (Model.ExamenPreguntas[i].Pregunta.Nota == 0)
                            {
                                <select class="form-control" name='Preguntas[@i].Nota'>
                                    <option>--------</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            }
                            else
                            {
                                <select class="form-control" name='Preguntas[@i].Nota'>
                                    <option>@Model.Preguntas[i].Nota</option>
                                    <option>--------</option>
                                    @foreach(var item in notas.Where(x => x != Model.Preguntas[i].Nota))
                                    {
                                        <option>@item</option>
                                    }
                                </select>
                            }

                        </div>
                    </td>
                </tr>
            }
        </tboy>
    </table>
    <input type="submit" value="Calificar" class="btn btn-info" />
}
